<header>
    <div class="barra-superior">
        <h1 class="yellow-text">Ferrare Automóveis</h1>
        <h3 class="slogan">QUALIDADE INCOMPARÁVEL</h3>

        <div class="fale-conosco">
            <p id="texto-whatsapp" class="yellow-text">WhatsApp</p>
            <a id="numero-telefone" class="header-footer-hyperlinks" href="https://wa.me/5554912345678" target="_blank">(54) 9 1234-5678</a>
        </div>

        <a href="index.php" title="Home" style="margin: 0">
            <img class="header-img" src="img/logo/ferrare-automoveis-logo.png" alt="logo">
        </a>

        <ul class="nav-bar">
            <!--<a class="header-footer-hyperlinks" class="active-section" href="index.php" title="Home">HOME</a>-->
            <a class="header-footer-hyperlinks" class="active-section" href="index.php" title="Home">HOME</a>
            <a class="header-footer-hyperlinks" href="index.php#estoque" title="Estoque">ESTOQUE</a>
            <a class="header-footer-hyperlinks" href="index.php?pagina=localizacao" title="Localização">LOCALIZAÇÃO</a>
        </ul>
    </div>
</header>